body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: linear-gradient(to bottom, #ccffff 0%, #000066 100%);
	color: #fff;
}
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}

.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}

.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	color: white;
	border-radius: 10px;
	background: black;
	outline: none;
	border-color: green;
	border: none;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

.reload {
	display: none;
	color: white;
	margin-top: 2rem;
	padding: 1rem;
	background: black;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 100px;
		width: 100vw;
	}
	.options{
		width: 100vw;
	}
